@tailwind base;
@tailwind components;
@tailwind utilities;

/* здесь можно добавить свои глобальные стили */
html, body, #__next { height: 100%; }
body { background: #f8fafc; color: #0f172a; }


@layer base {
  h1 {
    @apply text-[#E0E5FF];
  }

  h2 {
    @apply text-[#E0E5FF];
  }

  h3 {
    @apply text-[#E0E5FF];
  }

  p {
    @apply text-[#CDD8F6];
  }
}
